#tbl_participants {
	width: 100%;
}
#tbl_participants th {
	text-align: left;
	background-color: Gainsboro;
}
#tbl_participants .archived {
	background-color: WhiteSmoke;
}
#tbl_participants #explainer {
	text-align: center;
	font-style: italic;
}
